{
  "extends": ["@antfu", "plugin:yml/prettier", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "antfu/if-newline": "off",
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "singleQuote": false,
        "quoteProps": "consistent",
        "semicolons": false
      }
    ]
  }
}
